{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-env",
    [
      "@babel/preset-typescript",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
